@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


.register-col {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

body {
    background-color: #F8F9FD;
    font-family: 'DM Sans', sans-serif;
}

button {
    font-family: 'DM Sans', sans-serif;
}

.hoverable::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #453DE0;
    transition: width .3s;
  }
  
.hoverable:hover::after {
    width: 100%;
  }

/* HTML: <div class="loader"></div> */
.loader {
    width: 100px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#453DE0 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }

  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }